h1 {
  color: black;
   } 
   selector {
	property: ;
	property: ;
   }
   h1 {
  color: white;
  size: 26px;
  background-color: #cbcbcb;
   } 
   body {
   font-family: cursive serif;
   }  
   body {
   font-size: 30px;
   line-height: 1.6;
   letter-spacing: ;
   }
   body {
   font-weight: ;
   }
   a{
   	text-decoration: none;
   	}
   	p{
   }
   body {
   background-color: #cbcbcb;
   }  
    div {
  background: white;
   margin: 20px;
   width: 800px;
   padding: 50px 20px;
   border: 2px solid #8fbbe1;
   border-radius: 10% ;
   box-shadow : 10px 20px 30px rgba(0, 0, 0,0.5);
   }
ul { 
   color: black;
   }
   a:hover {
      color: grey;
      }
   container { 
      width: 700px;
      margin: 20px auto;
      }
   card-white {
      padding: 20px 30px;
      background-color: white;
      border-radius: 4px;
      box-shadow: 0px 15px 30px;
      text-align: center;
      margin:  20px 0;
      }
   btn-blue {
      background-color: #0E5ABF;
      padding: 15px 20px;
      border-radius: 4px;
      color: white;
      margin:  20px 0;
      display: intline-block;
      }
   btn-blue : hover {
      color: white;
      background-color: #F7578C;
      }
   img-rounded {
      border-radius: 50px;
   }
   
   list-inline {
      list-style: none;
      padding-left: 0px;
      }
   list-inline li {

   }
   img-circle {
  border-radius: 50%;
}
   img-bordered {
  border: 10px solid red;
}



